
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        @TempData["Message"]
    </div>

    <div>
        First Name: @ViewBag.FirstName<br />
    </div>
</body>
</html>
