
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @ViewBag.UserName
        <form action="" method="post">
            <table class="table">
                <tr>
                    <td>User Name</td>
                    <td><input class="form-control" type="text" name="UserName" value="" /></td>
                    <td>@Html.ValidationMessage("UserName")</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input class="form-control" type="text" name="Password" value="" /></td>
                    <td>@Html.ValidationMessage("Password")</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input class="btn btn-success" type="submit" value="Login" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
