
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
    <style>
        th {
            text-align: left;
        }

        input[type="submit"] {
            background: #3498db;
            padding: 8px 16px;
        }

        .default-btn {
            background: #3498db;
            padding: 8px 16px;

        }

            input[type="submit"]:hover, .default-btn:hover {
                cursor: pointer;
            }

             .alert {
            background-color: greenyellow;
            padding: 12px;
        }
    </style>
</head>
<body>


  

    <div>
        @if (TempData["MSG_ADMIN"] != null)
        {
            <div class="alert">
                @TempData["MSG_ADMIN"]
            </div>
        }

        <h1>Admin Dashboard</h1>
        <button class="default-btn" onclick="location.href = '/Admin/Index/';">Dashboard</button>
        <h1>Add Product</h1>
        <form action="/Admin/AddProduct" method="post">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="Name" value="" /></td>
                </tr>

                <tr>
                    <th>Price</th>
                    <td><input type="text" name="Price" value="" /></td>
                </tr>

                <tr>
                    <th>Quantity</th>
                    <td><input type="number" name="Qty" value="" /></td>
                </tr>

                <tr>
                    <th></th>
                    <td><input type="submit" name="" value="ADD" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
