
@{
    ViewBag.Title = "Index";
}

<h2>Research Work</h2>
<div>
    <ul>
        <li>
            <strong>An Intelligent Monitoring Technique for Online Examination (Under Revision)</strong>
            <ul>
                <li>developed the system by JavaScript which was used for data collection</li>
                <li>The system was able to collect 93 students’ behavioral data simultaneously with 0% data loss </li>
            </ul>
        </li>
    </ul>
</div>

