
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>

    <style>
        th {
            text-align: left;
        }

        input[type="submit"] {
            background: #3498db;
            padding: 4px 8px;
        }

        input[type="submit"]:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div> 
       
        <form action="" method="post">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="Name" value="" /></td>
                </tr>

                <tr>
                    <th>Price</th>
                    <td><input type="text" name="Price" value="" /></td>
                </tr>

                <tr>
                    <th>Quantity</th>
                    <td><input type="number" name="Qty" value="" /></td>
                </tr>

                <tr>
                    <th></th>
                    <td><input type="submit" name="" value="PLACE" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
