
@{
    ViewBag.Title = "Index";
}

<h2>Awards</h2>
<div>
    <ul>
        <li>
            <strong>Preliminary Round Top 10 Leaderboard Holder (Regional) </strong><br>
            <p>
                2<sup>nd</sup> Kibo Robot Programming Contest<br>
                Organized by JAXA(Japan), NASA<br>
                Role - Team Lead, Lead Programmer<br>
            </p>
        </li>
    </ul>
</div>

