
@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
<div>
    <ul>
        <li>Preliminary Round Top 10 Leaderboard Holder (Regional)</li>
        <li>Bangabandhu Innovation Grant 2019 </li>
    </ul>
</div>

