
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>

        <table>
            <tr>
                <td>Publication</td>
            </tr>

            <tr>
                <td>
                    <i>
                        Reed, K. D., Melski, J. W., Graham, M. B., Regnery, R. L., Sotir, M. J., Wegner, M. V., ... & Damon, I. K. (2004). The detection of monkeypox in humans in the Western Hemisphere. New England Journal of Medicine, 350(4), 342-350.
                    </i>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
