
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Job</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Job Experience</td>
            </tr>
            
            <tr>
                <td>
                    <i>Gogrow Ltd. 2022</i>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
