
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publication</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Publication</td>
            </tr>

            <tr>
                <td>
                    <p>
                        @ {
                            string a = "Hello";
                        }
                        
                        et al. "@ViewBag.Title" New England Journal of Medicine 350.4 (@ViewBag.PublishYear): 342-350.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
