
@{
    ViewBag.Title = "Index";
}

<h2>Education</h2>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        <tr>
            <td><strong>@ViewBag.UniversityName </strong></td>
            <td>BSc, CSE, 9th Semester </td>
        </tr>
    </table>
</div>
